extends ./layout.jade
block contenido
	div(class="col-md-8 remove-float center-block text-center", id = "log")
		h1 AVOCADO
		a(href="/login" class="right-space") iniciar secion
		a(href="/signup") registro
