extends ../../layout.jade
block contenido
	div(class="col-md-4 remove-float center-block top-space" id="log")
		h1(class="text-center") Subir imagen
		form(action="/app/imagenes", method="POST" enctype="multipart/form-data")
			div(clss="form-group")
				label(for="title") Titulo
				input(type="text", name="title", placeholder="titulo de la imagen", id="title", class="form-control")
			div
				label(for="archivo") Imagen
				input(type="file", name="archivo", id="archivo", class = "form-control")
			div(class="col-xs-6 col-sm-3 col-md-6 top-space")
				input(type="submit", value="Guardar", class="btn btn-info")
				